main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  display: flex;
  align-items: stretch;
}

.left {
  width: 40%;
  padding-top: 4em;
  text-align: center;

  img {
    width: 60%;
  }

  .contact {
    width: 60%;
    display: block;
    margin:  0.5em auto 0.55em;
    padding: 0.5em 0 0.55em;
    font-size: 1.5em;
    line-height: 1;
    background: 
      url('img-lg-horiz-border.png') repeat-x top right,
      url('img-lg-horiz-border.png') repeat-x bottom left;
    background-size: 13em;
    
    a {
      text-decoration: none;
      color: rgba(229, 69, 44, 0.54);
      transition: color .5s;

      &:hover,&:focus { 
        color: rgba(63, 61, 58, 1);
      }
    }
  }

  p {
    margin: 0 auto;
    width: 60%;
  }
}

.right {
  width: 60%;
  padding-top: 4em;

  h2 {
    margin-top: 0;
  }
}

@media (max-width: 856px) {
  main {
    flex-direction: column;

    .left,.right {
      width: 100%;
    }

    .right {
      width: 90%;
      margin: 0 auto;
    }
  }
}